* {
  padding: 0;
  margin: 0;
}

input {
  text-align: center;
}

.center-text {
  text-align: center;
}

.mt-5 {
  margin-top: 10px;
}

.mb-5 {
  margin-bottom: 10px;
}

.div-config {
  background: rgb(240, 240, 240);
  text-align: center;
  margin-top: 50px;
  margin-left: 50px;
  display: flex;
  position: relative;
  border: 3px double gray;
  border-radius: 10px;
  width: 350px;
}

.text-apply {
  font-size: 16px;
  background-color: rgb(240, 240, 255);
  /* font-weight: bold; */
  text-align: center;
  border-radius: 8px;
  width: 200px;
  height: 25px;
  cursor: pointer;
}

.text-box {
  text-align: center;
  font-size: 16px;
  border: 1px ridge black;
  border-radius: 4px;
  height: 25px;
}

.button-apply {
  border: 1px ridge black;
  border-radius: 8px;
  box-shadow: 1px 1px 8px rgb(150, 150, 150);
}

.button-apply:active {
  transform: scale(.99);
  box-shadow: 1px 1px 8px rgb(180, 180, 180);
}

.div-apply {
  margin-left: 20px;
  display: flex;
  position: relative;
}

.margin-total {
  margin: 50px;
}